<ion-header>
  <ion-toolbar>
    <ion-title>login-OTP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-input type="number" [(ngModel)]="otpnumber">
<ion-button expand="block" fill="outline" (click)="loginwithOTP()">
  Login
</ion-button>
</ion-input>
</ion-content>
