<ion-header>
  <ion-toolbar>
    <ion-title>Notification </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button fill="outline" (click)="notify()">Notify</ion-button>
  <ion-list>
     <ion-item *ngFor="let item of notificationArray" > {{ item }} </ion-item> 
    </ion-list>
</ion-content>
