<ion-header>
  <ion-toolbar>
    <ion-title>Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">FirstName</ion-label>
    <ion-input type="text" [(ngModel)]="firstname" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">LastName</ion-label>
    <ion-input type="text" [(ngModel)]="lastname" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Mobile Number</ion-label>
    <ion-input type="number" [(ngModel)]="mobilenumber" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input type="email" [(ngModel)]="username" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input type="password" [(ngModel)]="password" required></ion-input>
  </ion-item>
  <ion-row>
    <ion-col size="12">
      <ion-button expand="block" fill="outline" (click)="register()">
        Sign Up
      </ion-button>
    </ion-col>
  </ion-row>

<br>
<br>
<br>
<br>
<br>
<ion-row>
  <ion-label class="label">
    Already have an Account
  </ion-label>
</ion-row>
<ion-row>
  <ion-button fill="none" class="signup" (click)="login()">
    Login
  </ion-button>
</ion-row>
</ion-content>