<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-col size="10">
        <ion-title>login</ion-title>
      </ion-col>
      <ion-col size="2">
        <ion-button fill='none' (click)="notification()">
          <ion-icon  name="notifications"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    
    
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input type="email" [(ngModel)]="username" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input type="password" [(ngModel)]="password" required></ion-input>
  </ion-item>
<ion-row>
  <ion-col size="12">
    <ion-button expand="block" fill="outline" (click)="login()">
      Login
    </ion-button>
  </ion-col>
  
</ion-row>
<br>

<ion-row>
  <ion-col size="6">
  <h5>
    Don't have an Account
  </h5>
</ion-col>
<ion-col size="6">
  <h5>
    Forget password?
  </h5>
</ion-col>
</ion-row>

<ion-row>
  <ion-button fill="outline" class="signup" (click)="signup()">
    Sign Up
  </ion-button>
</ion-row>
</ion-content>
<ion-content>
  <ion-button expand="block" fill="outline" (click)="sendOTP()">
    Sign in OTP
  </ion-button>
  <ion-button expand="block" fill="outline" (click)="googlesignin()">
    Sign in with Google
  </ion-button>
  <ion-button expand="block" fill="outline" (click)="facebooksignin()">
    Sign in with Facebook
  </ion-button>
  <ion-button expand="block" fill="outline" (click)="applelogin()">
    Sign in with Apple
  </ion-button>

</ion-content>
